
body {
  background: lightgrey;

}

title {
  text-align: center;
}

header {
  background: lightblue;
  font-size: 26px;
}

div.employee {
  background-color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

footer {
  background: lightblue;
  text-align: center;
  border-radius: 5px;
}

h1 {
  font-size: 32px;
}
